<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Huellitas</title>
    <link rel="shortcut icon" href="../img/logo_mis-huellitas-removebg-preview.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>

    <header>     
        <div>
            <img src="../img/logo_mis-huellitas-removebg-preview.png" alt="logo">
        </div>
        
        <div>
            <h1>HUELLITAS</h1>
        </div>

        <nav>
            <a href="../index.html">NOSOTROS</a>
            <a href="./servicios.html">SERVICIOS</a>
            <a href="./tienda.html">TIENDA</a>
            <a href="./consejos.html">CONSEJOS</a>    
        </nav>
    </header>
    


    <main>
        <section id="Inicio" class="tiposdemascotas">
                <div class="contenedor">
                    <h2 class="titulo">Estamos seguros de que los siguientes consejos te ayudarán</h2>
                    <article class="galeria-cont">
                        <a href="#Perro"><img src="../img/15.png" alt=""></a>
                        <a href="#Gato"><img src="../img/16.png" alt=""></a>
                        <a href="#Cobayo"><img src="../img/17.png" alt=""></a> 
                        <a href="#Pez"><img src="../img/18.png" alt=""></a>
                        <a href="#Aves"><img src="../img/19.png" alt=""></a>
                        <a href="#Lagartija"><img src="../img/20.png" alt=""></a>                      
                    </article>
                </div>
        </section>

        <section class="info">
            <div class="contenedor">
                <h2 class="titulo left">Diferentes tipos de mascotas</h2>
                <ul>
                    <li>Antes que nada, visita al veterinario</li>
                    <li>Atiende sus necesidades nutricionales.</li>
                    <li>Aplica las vacunas a tiempo.</li>
                    <li>Entrenamiento como bienestar</li>
                    <li>Busca juguetes seguros.</li>
                    <li>Limpia sus patas regularmente.</li>
                    <li>Lavado de dientes.</li>
                    <li>Entregarles todo tu amor</li>
                </ul>
            </div>
        </section>
        
        <section id="Perro" class="wave-contenedor website">
            <img src="../img/1.jpg" alt="">
                <div class="contenedor-textos-main">
                        <h2 class="titulo lefth"> ¿Qué cuidados debe tener un perro en casa?</h2>
                        <p class="parrafo">El principal cuidado de higiene básico de un perro es el cepillado diario y el baño periódico. Este baño no puede ser más de una vez al mes y con un champú especial. También es recomendable revisar y limpiar los oídos una vez a la semana.F</p>
                        <a href="#Inicio" class="cta">volver al inicio</a>
                </div>
        </section>

        <section id="Gato" class="wave-contenedor website">
            <img src="../img/24.jpg" alt="">
                <div class="contenedor-textos-main">
                    <h2 class="titulo lefth">¿Qué hacer para tener un gato sano en casa</h2>
                    <p class="parrafo">Para que el gatito crezca sano es fundamental que su alimento sea de calidad y darle la cantidad adecuada para su tamaño y edad. Es imprescindible que tenga tres recipientes, uno para la comida seca, otro para la comida húmeda y otro para el agua, que debes cambiar a menudo para que esté fresca y limpia.</p>
                    <a href="#Inicio" class="cta">volver al inicio</a>
                </div>
        </section>
                 
        <section id="Cobayo" class="wave-contenedor website">
            <img src="../img/25.jpg" alt="">
               <div class="contenedor-textos-main">
                    <h2 class="titulo lefth"> ¿Un cobayo en casa?</h2>
                    <p class="parrafo">Los cobayos o cobayas son animales muy sociables que pueden ser grandes compañeros de nuestros hijos, pero requieren muchos cuidados. Es una tentación regalarles un animalito para que se distraigan durante las vacaciones. Es una manera también de enseñarles a ser responsables. Sin embargo, no hay que olvidar que son seres vivos: aunque no puedan expresar hambre o malestar de la misma manera que un gato o un perro, unos cuidados insuficientes afectan a su bienestar físico y emocional. Por tanto, si le regalamos una cobaya a un niño, los adultos hemos de ser también responsables de ella y asegurarnos de que recibe las atenciones necesarias</p>
                    <a href="#Inicio" class="cta">volver al inicio</a>
                </div>
        </section>

        <section id="Pez" class="wave-contenedor website">
            <img src="../img/26.jpg" alt="">
                <div class="contenedor-textos-main">
                    <h2 class="titulo lefth">  ¿Qué cuidados debe tener la pecera en casa?</h2>
                    <ul>
                        <li>Se debe cambiar el agua periódicamente.</li>
                        <li>Aplicar cada semana un test para medir niveles químicos y bacterianos del agua.</li>
                        <li>Utilizar productos para controlar el nivel de cloro y el pH del agua.</li>
                        <li>Lavar por lo menos una vez al mes el sustrato y grava del acuario.</li>  
                    </ul>
                    <a href="#Inicio" class="cta">volver al inicio</a>
                </div>
        </section>


        <section id="Aves" class="wave-contenedor website">
            <img src="../img/27.jpg" alt="">
               <div class="contenedor-textos-main">
                    <h2 class="titulo lefth"> ¿Cuál es la mejor comida para pájaros?</h2>
                    <p class="parrafo"> La mejor alimentación que le puedes dar a tu ave (sea ninfa, agapornis, canario, yaco, guacamayo, periquito o casi cualquier otro) es el pienso compuesto, esto es, pienso extrusionado en forma de pellets (similar al de los perros y los gatos) pero especialmente formulado para las aves. </p>
                    <a href="#Inicio" class="cta">volver al inicio</a>
                </div>
        </section>

        <section id="Lagartija" class="wave-contenedor website">
            <img src="../img/28.jpg" alt="">
               <div class="contenedor-textos-main">
                    <h2 class="titulo lefth"> ¿Que cuidados debo tener con una lagartija en casa</h2>
                    <p class="parrafo">  La manera de ofrecer el agua a tu mascota es colocar unas gotas sobre el morro y esperar a que las lama con su lengua. Si lo hace puedes poner más gotas directamente en su boca mientras siga tragándolas. Si no quiere beber de esta manera, tendrás que administrársela a la fuerza.
                        Alimento: Si hay insectos en su hogar, como moscas, mosquitos u otros insectos pequeños, las lagartijas pueden ser atraídas por la abundancia de comida. Son depredadores naturales de insectos. Humedad: Las lagartijas requieren ciertos niveles de humedad para mantener su piel saludable. </p>
                    <a href="#Inicio" class="cta">volver al inicio</a>
                </div>
        </section>

       
        
        <section class="galeria">
            <div class="contenedor">
                <h2 class="titulo">Nuestros clientes mas fieles</h2>
                <article class="galeria-cont">
                    <img src="../img/7.jpg" alt="">
                    <img src="../img/8.jpg" alt="">
                    <img src="../img/9.jpg" alt="" >
                    <img src="../img/16.png" alt="">
                    <img src="../img/11.jpg" alt="">
                    <img src="../img/22.jpg" alt="">

                </article>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <h2>Ubicacion</h2>
            <p>Avenida Rivadavia 3130 <br> Telefono: 11-3949-6252</p>
            <h2>Siguenos</h2>
            <a href="https://www.facebook.com" target="_blank"><img src="../img/facebook.png" alt="facebook"></a>
            <a href="http://www.instagram.com" target="_blank"><img src="../img/instagram.png" alt="instagram"></a>
            <a href="https://www.x.com" target="_blank"><img src="../img/x.png" alt="x"></a>
            <p>© 2024 HUELLITAS. Todos los derechos reservados.</p>
            <p>Política de Privacidad | Términos de uso </p>
        </div>
        
        <div>
            <h2 >Formulario de Contacto</h2>
            <form class="form">
                <input class="input" type="text" name="nombre" id="1" placeholder="Ingrese su Nombre" required>
                <input class="input" type="email" name="email" id="2" placeholder="Ingrese su Email" required>
                <textarea class="input" name="mensaje" id="3" cols="30" rows="5" placeholder="Ingrese su Mensaje"></textarea>
                <input class="input" type="submit" value="Enviar">
            </form>
        </div>
    </footer>
    <script src="../js/index.js"></script>
</body>
</html>